<section class="formulario">
    <center>
        <H1>@ViewBag.Error</H1>
        <h1>@ViewBag.Correcto</h1>
        <form method="get" action='@Url.Action("ConsultaPadron","Home")'>
            <h2>Ingresar tu DNI:</h2><br/>
            <input class="ingresos" type="text" name="DNI" placeholder="Ingrese su DNI" required>
            <button style="margin-top:1rem; width: 8rem;" type="submit" class="btn btn-dark"><h6>CONFIRMAR</h6></button>
    
        </form>    
    </center>
</section>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>