footer{
  
  background-color: #1b3f71;
  color: white;
}


/* Footer */

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;
}
.social-buttons__button {
  margin: 10px 5px 0;
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 70px;
  height: 70px;
  text-decoration: none;
}
.social-button__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 100%;
  background: #fff;
  text-align: center;
}
.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.social-button i {
  font-size: 28px;
}
.social-button svg {
  height: 40%;
  width: 40%;
}
.social-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}
.social-button:focus, .social-button:hover {
  color: #fff!important;
}
.social-button:focus::after, .social-button:hover::after {
  width: 100%;
  height: 100%;
  margin-left: -50%;
}

.social-button--facebook {
  color: #3b5998 !important;
}
.social-button--facebook::after {
  background: #3b5998;
}
.social-button--twitter {
  color: #1da1f2 !important;
}
.social-button--twitter::after {
  background: #1da1f2;
}
.social-button--pinterest{
 color: #bd081c !important;
}
.social-button--pinterest::after {
  background: #bd081c;
}
.social-button--youtube {
 color: #ff0000 !important;
}
.social-button--youtube::after {
  background: #ff0000;
}
.social-button--instagram {
 color: #c13584 !important;
}
.social-button--instagram::after {
  background: #c13584;
}

form{
  background-color:#1b3f71;
  color:white;
}

.formulario {
  width: 400px;
  background: #1b3f71;
  padding: 30px;
  margin: auto;
  margin-top: 5rem;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.ingresos {
  width: 100%;
  background: #000000;
  padding: 1;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.formulario p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.formulario .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 10px;
}

a{
  color:white;
  font-size:2rem;
}





.circulo {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #5cb85c !important;
}




.social-button--gusta {
  color: #5cb85c;
 }
 .social-button--gusta::after {
   background: #5cb85c;
 }



 .botino1:hover{
  background: #00ff00;
 }

 .botino2:hover{
  background: #ff0000;
 }