<div class="row">
    <div class="col-md-12">
    <center>
        <div class="card levantar card text-white mb-3" style="background-color:#1e304c; width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-4">
                <img src="@ViewBag.PizzaElegida.UrlFoto" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body" style="font-size=3rem;">
                        <h1 class="card-title">@ViewBag.PizzaElegida.Nombre</h1>
                        <h2 style="color:#3eff3f;" class="card-text">Precio $@ViewBag.PizzaElegida.Precio</h2>
                        <h2  class="card-text">Tamaño @ViewBag.PizzaElegida.Tamaño</h2>
                        <h2  class="card-text">Ingredientes:
                        @{
                            ViewBag.Ingredientes= "";
                            foreach (ingredientes ing in ViewBag.PizzaElegida.ListarIngredientes()){
                                ViewBag.Ingredientes += ing.Nombre + ", ";
                            }
                        }
                        @ViewBag.Ingredientes</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </center>
</div>

<BR><BR><BR><BR><BR><BR>
